.header {
    position: fixed;
    width: 100%;
    height: 100px;
    padding-left: 373px;
    padding-right: 100px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 2;
}

.header-text {
    font-size: 21px;
    font-weight: 400;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 3px solid white;
    object-fit: cover;
    opacity: 0.7;
}

.profile-pic:hover {
    opacity: 1;
}

.inner-circle {
    height: 58px;
    width: 58px;
    border-radius: 100%;
    background-color: white;
}

.outer-circle {
    cursor: pointer;
    height: 64px;
    width: 64px;
    border-radius: 100%;
    background-color: #2A3647;
    margin-left: 15px;
}

.navbar {
    background-color: var(--dark-blue2);
    width: 250px;
    height: 100%;
    justify-content: space-around;
    z-index: 2;
    position: fixed;
}

.navbar-inner-container {
    height: calc(100vh - 150px);
}

.menu {
    color: var(--font-grey);
    height: 250px;
}

.menu img {
    width: 30px;
    height: 30px;
}

.footer {
    color: var(--font-grey);
}

.single-menu {
    padding: 12px 0 12px 0;
    width: 100%;
    display: flex;
    justify-content: center;

}

.single-menu a {
    width: 170px;
}

.single-menu:hover span {
    color: var(--white);
}

.single-menu:hover img {
    filter: invert(0) sepia(94%) saturate(18%) hue-rotate(287deg) brightness(105%) contrast(100%);
}

.single-menu:hover {
    background-color: var(--dark-blue3);
    cursor: pointer;
}

.menu-text {
    margin-left: 30px;
}

.menulink-active {
    background-color: var(--dark-blue3);
    cursor: pointer;
    color: white;
}


.logout {
    position: absolute;
    border-radius: 20px 0px 20px 20px;
    background-color: var(--dark-blue);
    top: 100px;
    right: 103px;
    color: white;
    width: 125px;
}

.logout:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mobile-nav {
    width: 100%;
    text-align: start;
    padding: 11px 14px;
    box-sizing: border-box;
}

.mobile-menu-link-img{
    padding: 6px 0 0 0;
}

.hide-nav {
    display: none;
}

#nav-item-logout {
    border-radius: 20px 0 20px 20px;
    text-align: center;
}

#nav-item-help {
    border-radius: 20px 0 0 0;
}

.mobile-nav:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}

.question-help-img:hover {
    filter: invert(92%) sepia(2%) saturate(0%) hue-rotate(174deg) brightness(89%) contrast(96%);
    ;
}