@media (max-width: 1180px) {

    /* CONACTS max-width: 1180px */
    .mailto {
        font-size: 14px;
    }

    .contact-name {
        font-size: 18px;
    }

    .left-section {
        width: 320px;
    }

    .left-section-container {
        width: 320px;
    }

    .contact-card-small {
        width: 280px;
    }

    .contact-content {
        width: 95% !important;
    }

    .right-section {
        left: 377px
    }

    .contact-card-small {
        width: 250px;
        padding: 8px;
    }

    .contact-letter span {
        padding-left: 12px;
    }

    .contact-letter {
        width: 250px;
    }

    /* GENERAL max-width: 1180px*/
    h1 {
        font-size: 43px !important;
    }

    .headline-text {
        font-size: 18px !important;
    }

    /*Board max-width: 1180px*/

    .task-overlay {
        width: 55%;
    }
}


@media (max-width: 1074px) {

    /* CONACTS max-width: 1074px */

    .content-contacts {
        left: 231px;
    }

    .contact-name-big {
        font-size: 32px;
    }

    .contact-data-big {
        margin-left: 30px;
    }

    .right-section {
        width: 40vw;
        min-width: unset !important;
    }

    .contact-name-big {
        font-size: 27px;
        margin: 20px 0 0 0;
    }

    .contact-avatar-big {
        width: 75px;
        height: 75px;
    }

    .contact-avatar-outer-big {
        width: 80px;
        height: 80px;
    }

    #names-letter {
        font-size: 30px;
    }

    #contact-information-headline {
        flex-direction: column;
        align-items: flex-start !important;
        margin-top: 20px !important;
    }

    #phone {
        margin-top: 28px;
    }

    #phone a {
        margin-top: 16px;
    }

    #contact-content-mail {
        margin-top: 28px !important;
    }

    #contact-content-mail a {
        margin-top: 16px !important;
    }

    .edit-container {
        margin-top: 12px;
    }

    .contact-data-content {
        margin-top: 0;
    }

    .new-contact-btn-container {
        margin-top: 28px;
        justify-content: flex-start !important;
    }

    #new-contact-btn {
        margin-left: 0;
    }

    #contact-create-btn-mobile {
        position: absolute;
        top: 7px;
        right: 27px;
    }

    /* GENERAL max-width: 1074px*/
    .f-21 {
        font-size: 18px !important;
    }

    .f-18 {
        font-size: 16px !important;
    }

    .content {
        left: 310px !important;
    }

    /* NAVBAR max-width: 1074px*/
    .navbar {
        width: 230px !important;
    }

    /* BOARD max-width: 1074px*/

    .board-head {
        width: 39%;
    }

    /* .board-inner-card {
        min-width: 39%;
        width: 39%;
    } */

    .progressbar-inner {
        width: 60%;
    }

    .task-overlay {
        width: 60%;
    }
}


@media (max-width: 1040px) {

    /* CONACTS max-width: 1040px */

    #right-section {
        left: 100px;
        display: none;
        width: 60vw;
    }

    .content-contacts {
        width: calc(100vw - 230px);
    }

    .left-section-container {
        width: 100%;
    }

    .left-section {
        width: 100%;
    }

    #contact-content {
        display: none;
    }

    #contact-content-mobile {
        display: flex;
    }

    .input-contact {
        width: 274px;
        height: 25px;
        font-size: 18px;
    }

    .input-container img {
        width: 21px;
        height: 21px;
    }

    .contact-overlay {
        width: 818px;
    }

    .add-task-overlay {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        border-radius: unset;
    }

    /* ADD TASK max-width: 1040px */

    .sections {
        flex-direction: column;
        width: calc(100vw - 350px);
    }

    .section-right {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
    }


    #add-task-btns {
        position: fixed;
        right: 24px;
        top: 120px;
        z-index: 1000;
        height: 55px;
    }

    .display-add-task-btns {
        position: fixed;
        right: 24px;
        top: 7px !important;
        z-index: 1000;
        height: 55px;
    }

    #createTask {
        position: fixed;
        height: 58px;
    }

    .sections-mobile {
        height: 90vh;
    }

    .close-add-task-overlay {
        right: 350px;
    }

    .unset-position {
        position: unset !important;
    }
        

    /* BOARD max-width: 1040px*/

    .progressbar-inner {
        width: 58%;
    }

    /* NAVBAR max-width: 1040px */
    .header-text {
        font-size: 18px !important;
    }

    .header {
        padding-left: 280px !important;
        padding-right: 50px !important;
    }

    .logout {
        right: 50px;
    }

    /* GENERAL max-width: 1040px*/
    .back-mobile {
        display: block;
    }

    h2 {
        font-size: 41px;
    }

    /* LOGIN max-width: 1040px */
    .input-container-login {
        width: 320px;
    }
}