@media (max-height: 840px) and (min-width: 1041px) {
    .add-task-overlay {
        height: 99vh;
    }
}

@media (max-height: 1120px) and (max-width: 770px) {

    .welcome {
        display: none;
    }

    .welcome-mobile {
        display: flex;
        position: absolute;
        align-items: center;
        background-color: var(--bg-grey);
        top: -85px;
        right: 0;
        bottom: -85px;
        left: 0;
        animation: fadeOpacityOut 2s ease 1000ms 1 normal forwards;
    }
}


@media (max-height: 980px) {
    .content-cards-bottom-single {
        height: 110px;
    }

    .content-cards-middle-single {
        height: 120px;
    }

    .content-cards-middle {
        margin-bottom: 24px;
    }

    .content-cards-top {
        margin-bottom: 24px;
    }
}

@media (max-height: 980px) and (max-width: 770px) {
    .content-cards-top {
        margin-bottom: 0;
    }

    .content-cards-middle {
        margin-bottom: 0;
    }
}


@media (max-height: 920px) {
    .logo-container {
        margin-top: 16px !important;
    }

    .login-content-container {
        margin-top: 24px !important;
    }

    .close-img {
        top: -294px;
    }

    /*.add-task-overlay {
        height: 100vh;
    }*/

    .display-add-task-btns {
        position: unset !important;
        margin-bottom: 25px;
    }
}

@media (max-height: 920px) and (max-width: 770px) {
    .right-section {
        left: 24px;
        top: 50px;
    }
}

@media (max-height: 820px) {
    .login-content-container {
        margin-top: 24px !important;
    }

    .logout {
        top: 80px;
    }

    .logo-container {
        margin-top: 0 !important;
        align-items: center;
    }

    .join-logo {
        padding-top: 24px;
        width: 50px;
    }

    .input-container-login {
        margin-top: 28px;
    }

    .input-contact {
        height: 24px;
        font-size: 18px;
    }

    .login-content {
        height: 470px
    }


    .navbar-join-logo {
        height: 90px;
    }

    .close-img {
        top: -265px;
    }

    .navbar-inner-container {
        height: 100vh;
    }

    .content-cards-bottom-single {
        height: 85px;
    }

    .content-cards-middle {
        height: 100px;
    }

    .content {
        padding-top: 120px;
    }

    .f-55 {
        font-size: 33px;
    }

    .f-21 {
        font-size: 16px !important;
    }

    .header {
        height: 80px;
    }

    .content-contacts {
        top: 80px;
    }

    .content {
        padding-top: 97px;
    }

    .content-imprint {
        padding-top: 136px;
    }

    .content-cards-middle-single {
        height: 95px;
    }

    .card-line {
        height: 70px;
    }


    .headline-line {
        margin: -15px 0 0 0;
    }

    .content-cards-top-single {
        height: 98px;
    }

    .header {
        height: 80px;
    }

    #add-task-btns {
        top: -3px;
    }

    /*.add-task-overlay {
        height: 100vh;
    }*/
}


@media (max-height: 700px) {


    #contact-content-mobile {
        height: 60vh;
        overflow-y: auto;
    }

    .content {
        padding-top: 87px;
    }

    .content-imprint {
        padding-top: 136px;
    }

    #summary-h1 {
        margin-top: 0;
        margin-bottom: 8px;
    }

    .summary-card-img {
        width: 55px;
    }

    .content-cards-top-single {
        height: 84px;
        padding: 3px;
        gap: 0;
        box-sizing: border-box;
    }

    .content-cards-middle-single {
        height: 84px;
    }

    .content-cards-bottom-single {
        height: 73px;
    }

    .f-21 {
        font-size: 15px !important;
    }


    h1 {
        font-size: 39px !important;
    }

    .content-cards-top {
        margin-bottom: 16px;
    }

    .content-cards-middle {
        margin-bottom: 16px;
    }

    .close-img {
        top: -235px;
    }

}



@media (max-height: 640px) {
    .add-task-overlay {
        height: 75vh;
    }
}

@media(min-width: 770px) and (max-height: 820px) {
    .content {
        padding-top: 0;
    }

    .board-content {
        right: 30px;
        padding-top: 90px !important;
    }
}

@media(max-width: 770px) and (max-height: 820px) {
    .board-content {
        right: 30px;
        padding-top: 90px !important;
    }
    
}


@media(max-width: 770px) and (max-height: 700px) {
    .navbar {
        height: 80px !important;
    }

    .content-contacts {
        top: 80px !important;
    }

    .content {
        padding-top: 87px;
    }

    .content-imprint {
        padding-top: 136px;
    }

    .content-cards-top {
        margin-bottom: 16px;
    }

    .right-section {
        top: 24px;
    }

    .main-board {
        max-height: calc(100vh - 290px);
    }
}

@media(max-width: 360px) and (max-height: 740px) {

    .main-board {
        max-height: calc(100vh - 150px);
    }

    .board-content {
        width: 100%;
    }
}

@media (max-width: 665px) and (min-height: 720px) {
    .not-join-user {
        position: absolute;
        bottom: 40px;
        right: 0px;
        width: 100%;
        justify-content: center;
    }

}

@media (max-width: 665px) and (max-height: 680px) {
    .not-join-user {
        position: unset;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 16px;
    }

    .logo-container {
        align-items: center;
    }

    #signup-btn {
        margin-right: 0;
    }
}

/*@media (max-width: 540px) and (max-height: 720px) {
    #task-display {
        top: 80px !important;
    }
}

@media (max-width: 414px) and (max-height: 896px) {
    #task-display {
        bottom: 80px !important;
    }

}

@media (max-width: 412px) and (max-height: 915px) {
    #task-display {
        top: 100px !important;
        bottom: 80px !important;
    }
}

@media (max-width: 375px) and (max-height: 812px) {
    #task-display {
        top: 80px !important;
        bottom: 80px !important;
    }
}


@media (max-width: 360px) and (max-height: 740px) {
    #task-display {
        top: 80px !important;
        bottom: 80px !important;
    }
}*/